In [99]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import os
import time
from selenium.webdriver.chrome.options import Options

In [100]:
Data_crawl = {'number':[], 'price': []}

In [101]:
# xpath_stt = "/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[100]/th"
# xpath_number = "/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[100]/td[1]/a"
# xpath_price = "/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[100]/td[2]/b"
# xpath_score = "/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[100]/td[3]"
# xpath_network_type = "/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[100]/td[4]/span"

In [102]:
chrome_options = Options()
#chrome_options.add_argument("--headless")
chrome_options.add_argument("--window-size=1920x1080")
browser = webdriver.Chrome(chrome_options=chrome_options, executable_path='/home/hoang/Selenium/chromedriver')

/home/hoang/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: use options instead of chrome_options
  after removing the cwd from sys.path.

In [103]:
page_number = 50

In [104]:
for page in range(1, page_number+1):
    if page == 1:
        page_address = 'https://khosim.com/sim-viettel'
    else:
        page_address = 'https://khosim.com/sim-viettel?page={}'.format(page)
    browser.get(page_address)
    time.sleep(1)
    for ele in range(1, 101):
#         try:
#             Data_crawl['stt'].append(browser.find_element_by_xpath('/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[{}]/th'.format(ele)).text)
#         except:
#             Data_crawl['stt'].append('')
        try:
            Data_crawl['number'].append(browser.find_element_by_xpath('/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[{}]/td[1]/a'.format(ele)).text)
        except:
            Data_crawl['number'].append('')
        try:
            Data_crawl['price'].append(browser.find_element_by_xpath('/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[{}]/td[2]/b'.format(ele)).text)
        except:
            Data_crawl['price'].append('')
#         try:
#             Data_crawl['score'].append(browser.find_element_by_xpath('/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[{}]/td[3]'.format(ele)).text)
#         except:
#             Data_crawl['score'].append('')
#         try:
#             Data_crawl['network_type'].append(browser.find_element_by_xpath('/html/body/main/div[1]/div[2]/div[5]/div/table/tbody/tr[{}]/td[4]/span'.format(ele)).text)
#         except:
#             Data_crawl['network_type'].append('')

In [105]:
Data_crawl=pd.DataFrame(Data_crawl)

In [122]:
Data_crawl

             number       price
0       0868888.714   1,900,000
1       0868888.740   1,900,000
2        0961337070   1,905,000
3        0981441515   2,500,000
4        0971223131   2,105,000
...             ...         ...
4995   0868.324.363   1,200,000
4996   0869.631.000   1,200,000
4997   0975.699.539   1,200,000
4998   0335.776.776  12,300,000
4999  0359.87.88.89  14,760,000

[5000 rows x 2 columns]

In [115]:
a[0].replace('.','')

'0868888714'

In [116]:
'0123'.replace('.','')

'0123'